<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>HackZurich 2017</title>
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css'/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Eshop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--webfont-->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- cart -->
    <script src="js/simpleCart.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-sanitize.min.js"></script>
    <script src="js/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="js/app.js"></script>
    <!-- cart -->
    <link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen"/>
</head>
<body ng-controller="ProductsController as $ctrl">
<!-- header-section-starts -->
<div class="header">
    <div class="header-top-strip">
        <div class="container">
            <div class="header-top-left">
                <ul>
                    <li><a href="account.html"><span class="glyphicon glyphicon-user"> </span>Login</a></li>
                    <li><a href="register.html"><span class="glyphicon glyphicon-lock"> </span>Create an Account</a>
                    </li>
                </ul>
            </div>
            <div class="header-right">
                <!--<div class="cart box_1">-->
                <!--<a href="checkout.html">-->
                <!--<h3> <span class="simpleCart_total"> $0.00 </span> (<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 </span>)<img src="images/bag.png" alt=""></h3>-->
                <!--</a>	-->
                <!--<p><a href="javascript:;" class="simpleCart_empty">Empty cart</a></p>-->
                <!--<div class="clearfix"> </div>-->
                <!--</div>-->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- content-section-starts-here -->
<div class="container">
    <div class="main-content">
        <div class="products-grid">
            <header>
                <h3 class="head text-center">Blog</h3>
            </header>
            <div class="col-md-6 col-md-offset-3">
                <h5><span>Post by: <em>Jane Wayne</em></span></h5>

                <p>
                    While you are reading this, I am already on my way to the airport to reach my first aim:
                    the Oktoberfest in Munich, having started yesterday! Fantastic!! Now guess what – I got a great
                    Dirndl costume from <strong>siroop</strong>:
                </p>

                <article-box article="$ctrl.articles[0]" exchange="$ctrl.exchange"></article-box>

                <p>
                    And because I was in shopping mood I also ordered an amazing costume for the upcoming Halloween
                    Party in Zurich, which I discovered on <strong>karneval-megastore</strong>:
                </p>

                <div class="well well-sm">
                    <p class="small">
                        <span class="help-block">
                            <a href="{{$ctrl.articles[2].url}}">
                                {{$ctrl.articles[2].name}}
                            </a>
                        </span>
                    </p>
                    <p class="text-center">
                        <img class="thumbnail" style="display:initial; height: 320px;width: 240px" src="images/p3.jpg">
                    </p>
                    <button class="btn btn-success btn-sm pull-right" type="button" ng-click="$ctrl.buy(2)">
                        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                        Buy - 20 ETH
                    </button>
                    <div class="clearfix"></div>
                </div>

                <p>
                    And guess what, when I showed my dresses to my boyfriend, who is from one of the richest families in
                    Zurich, he actually bought this amazing wine from <strong>Baur au Lac Vins</strong> at the <strong>siroop</strong>
                    website to surprise
                    me:
                </p>

                <article-box article="$ctrl.articles[1]" exchange="$ctrl.exchange"></article-box>

            </div>
            <div class="clearfix"></div>
            <h5>ETH 1 = € {{$ctrl.exchange}}</h5>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" ng-if="!$ctrl.loading">
        <h4>{{$ctrl.selected_article.name}}</h4>
    </div>
    <div class="modal-body" id="modal-body">
        <span ng-if="$ctrl.loading">
            <img src="images/ajax-loader.gif">
        </span>
        <div ng-if="!$ctrl.loading">
            <div class="form-inline">
                <div class="form-group">
                    <label for="size">Size</label>
                    <select class="form-control" id="size">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <select class="form-control" id="color">
                        <option>Black & Red</option>
                        <option>Black & Green</option>
                        <option>Purple & Orange</option>
                    </select>
                </div>
            </div>
            <p class="text-center">
                <span>
                    <img src="images/qr.png">
                </span>
            </p>
            <p>
                Some help about what to do to procede.
            </p>
        </div>
    </div>
</script>
</body>
</html>