<div class="well well-sm" style="margin-top: 20px">
    <p class="small">
        <span class="help-block">
            <a href="https://siroop.ch{{$ctrl.article.url}}" target="_blank">
                {{$ctrl.article.name}}
            </a>
        </span>
    </p>
    <p class="text-center">
        <img class="thumbnail" style="display:initial;"
             src="{{$ctrl.article.images.highres}}">
    </p>
    <p class="small" ng-bind-html="$ctrl.article.description"></p>
    <p style="margin-bottom: 5px">
        <span class="label label-primary small" style="margin-right: 5px"
              ng-repeat="tag in $ctrl.article.tags">{{tag}}</span>
    </p>
    <button class="btn btn-success btn-sm pull-right" type="button" ng-click="$ctrl.buy(0)">
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
        Buy -
        {{$ctrl.article.price/100 | currency:"€ "}} /
        {{($ctrl.article.price/$ctrl.exchange)/100 | currency:"ETH "}}*
    </button>
    <div class="clearfix"></div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header" ng-if="!$ctrl.loading">
        <h4 class="pull-left">{{$ctrl.selected_article.name}}</h4>
        <button style="border: none; background: none" type="button" class="pull-right" ng-click="$ctrl.cancel()">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </button>
        <div class="clearfix"></div>
    </div>
    <div class="modal-body" id="modal-body">
        <span ng-if="$ctrl.loading">
            <img src="images/ajax-loader.gif">
        </span>
        <div ng-if="!$ctrl.loading">
            <div class="form-inline">
                <div class="form-group">
                    <label for="size">Amount</label>
                    <input type="number" class="form-control" placeholder="Amount">
                </div>
                <div class="form-group">
                    <label for="size">Size</label>
                    <select class="form-control" id="size">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="color">Color</label>
                    <select class="form-control" id="color">
                        <option>Black & Red</option>
                        <option>Black & Green</option>
                        <option>Purple & Orange</option>
                    </select>
                </div>
            </div>
            <p class="text-center">
                <span>
                    <div id="qrcode"></div>
                    <script>

                        //    $SCRIPT_ROOT = {{
                        //            request.script_root | tojson | safe
                        //        }
                        //    }
                        //    ;

                        var uportconnect = window.uportconnect;

                        const uport = new uportconnect.Connect('Juliana\'s new app', {
                            clientId: '2odUiw5GfTvpNAMuGgLoxYvydLfzHbSytBw',
                            network: 'rinkeby',
                            signer: uportconnect.SimpleSigner('6bfb53228fdc0511e3af337a7d2dda5fcf57a19e98467b9554056bf7db909bdd')
                        });

                        uport.requestCredentials(
                            {
                                requested: ['name', 'phone', 'country'],
                                notifications: true
                            },
                            (credentials) => {
                                const qr = kjua({
                                    text: credentials,
                                    size: 400
                                });

                            document.getElementById("qrcode").appendChild(qr);
                            }
                        ).then(
                                (credentials) => {

                                    console.log(credentials);

                                    $.ajax({
                                        type: 'POST',
                                        url: "http://localhost:5000/confirm_purchase",
                                        data: {"credentials": credentials},
                                        error: function (e) {
                                            console.log(e);
                                        },
                                        dataType: "json",
                                        contentType: "application/json"
                                    });

                        });

</script>
</span>
</p>
<p>
    Some help about what to do to procede.
</p>
</div>
</div>
</script>