<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Stub page</title>
</head>

<body>

    <h1>Submit new purchase:</h1>
    <form action="/new_purchase" method="post">
        <input type="text" name="purchase_id" placeholder="purchase id">
        <input type="text" name="purchase_name" placeholder="purchase name">
        <input type="submit" value="Buy">
    </form>

    <h1>Confirm purchase:</h1>
    <form action="/confirm_purchase" method="post">
        <input type="text" name="confirmed_purchase" placeholder="confirmed purchase">
        <input type="submit" value="Confirm">
    </form>

</body>

</html>
